<div class="col-md-9">
    <div class="panel panel-default room">
        <div class="panel-heading room-header">{{room.name}}</div>
        <div class="panel-body room-content">
            <div class="list-group messages" auto-scroll-to-bottom>
                <div class="list-group-item message" ng-repeat="message in room.messages">
                    <img ng-src="{{message.creator.avatarUrl}}" class="img-round" alt="" title="{{message.creator.name}}" />
                    {{message.creator.name}}:{{message.message}}
                    <!--动态更新时间am-time-ago-->
                    <time am-time-ago="message.createAt"></time>
                </div>
            </div>
            <form action="" class="message-creator" ng-controller="MessageCreatorCtrl">
                <div class="form-group">
                    <textarea name="" id="" cols="30" rows="10" ng-model="newMessage" class="form-control message-input" placeholder="ctrl+enter to quick send" required ng-model="newMessage" ctrl-enter-break-line="createMessage()"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-default user-list">
        <div class="panel-heading user-list-header">在线用户</div>
        <div class="panel-body user-list-content">
            <div class="list-group users">
                <div class="list-group-item user" ng-repeat="user in room.users">
                    <img src="{{user.avatarUrl}}" title="{{user.name}}" class="img-rounded" alt="">
                    {{user.name}}
                </div>
            </div>
        </div>
    </div>
</div>